:root { 
--gray_600:#858585; 
--purple_200:#c89dea; 
--gray_700:#686868; 
--deep_purple_50_99:#ead1ff99; 
--gray_900:#242424; 
--deep_purple_50_b2_01:#ead1ffb2; 
--amber_100:#ffeeb3; 
--teal_A100:#bafff2; 
--purple_900_01:#4b2568; 
--deep_purple_300:#aa85c7; 
--deep_purple_50:#ead1ff; 
--deep_purple_50_b2:#e9d1ffb2; 
--black_900:#000000; 
--cyan_50_01:#d8fff7; 
--purple_A700:#9e24ff; 
--deep_purple_50_7e:#ead1ff7e; 
--purple_900:#4a2468; 
--cyan_50:#e5fffa; 
--deep_purple_A100:#cd8eff; 
--white_A700:#ffffff; 
--purple_50:#fae0ff; 
}